apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments-service
  namespace: tickets-hall
  labels:
    app: payments-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payments-service
  template:
    metadata:
      labels:
        app: payments-service
    spec:
      containers:
        - name: payments-service
          image: ghcr.io/event-ticketing-microservice/tickets-hall-payments:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8001
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "k8s"
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://postgres-payments:5432/payments"
            - name: SPRING_DATASOURCE_USERNAME
              value: "postgres"
            - name: SPRING_DATASOURCE_PASSWORD
              value: "postgres"
            - name: STRIPE_SECRET_KEY
              value: "placeholder"
            - name: STRIPE_WEBHOOK_SECRET
              value: "placeholder"
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
