apiVersion: apps/v1
kind: Deployment
metadata:
  name: tickets-service
  namespace: tickets-hall
  labels:
    app: tickets-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tickets-service
  template:
    metadata:
      labels:
        app: tickets-service
    spec:
      containers:
        - name: tickets-service
          image: ghcr.io/event-ticketing-microservice/tickets-hall-tickets:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
            - containerPort: 1234
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 1234
            initialDelaySeconds: 20
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 1234
            initialDelaySeconds: 20
            periodSeconds: 10
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "k8s"
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://postgres-tickets:5432/tickets"
            - name: SPRING_DATASOURCE_USERNAME
              value: "postgres"
            - name: SPRING_DATASOURCE_PASSWORD
              value: "postgres"
            - name: SPRING_RABBITMQ_HOST
              value: "rabbitmq"
            - name: SPRING_RABBITMQ_PORT
              value: "5672"
            - name: SPRING_RABBITMQ_USERNAME
              value: "admin"
            - name: SPRING_RABBITMQ_PASSWORD
              value: "admin"
            - name: SPRING_DATA_REDIS_HOST
              value: "redis"
            - name: SPRING_DATA_REDIS_PORT
              value: "6379"
            - name: PAYMENT_SERVICE_URL
              value: "http://payments-service:80"
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
